.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0 calc(3em + 3vw) 0;

    width: 100%;

    color: var(--content-color);
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 0.5em;
}

.profile-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    font-size: 1.1em;
}

.profile-description {
    color: var(--accent-color);
}

.recent-posts {
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    gap: 0.5em;
}