.image-container {
    --image-max-height: 90vh;

    position: relative;

    display: grid;
    grid-template: 1fr / 1fr;

    justify-self: center;

    max-width: 100%;
    margin: 1em auto;

    border-radius: var(--radius);
    overflow: hidden;
}

.image-container>* {
    grid-area: 1 / 1;
}

.image-container[data-has-dims='true'] {
    aspect-ratio: var(--img-nw) / var(--img-nh);
    width: min(100%, calc(var(--img-nw) * 1px), calc(var(--image-max-height) * var(--img-nw) / var(--img-nh)));
    max-height: var(--image-max-height);
}

.image-container[data-has-dims='false'] {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: var(--image-max-height);
}

.image-skeleton {
    z-index: 0;

    width: 100%;
    height: 100%;
    min-height: 0;

    border-radius: var(--radius);

    background-size: 200%;
}

.image-wrapper {
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 0;

    border-radius: var(--radius-sm);
    overflow: hidden;
}

.image-wrapper picture {
    display: contents;
}

.loaded {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: top center;

    opacity: 1;

    transition: opacity 0.3s;
}

.loading {
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s;
}

.image-wrapper .no-image {
    margin: 0.5em 0;
    fill: var(--minor-color);
}

.no-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
