.theme {
    order: 3;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.3em;
}

.thme:hover {
    /* TODO */
}

.toggle {
    display: none;
}

.toggle+label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle+label::before {
    content: '';
    height: calc(2.6em - 2px);
    aspect-ratio: 4.2/2.2;
    border-radius: 2em;
    background-color: var(--fg-color);
    border: 1px solid var(--border-color);
}

.toggle+label::after {
    content: '';

    width: 2.2em;
    aspect-ratio: 1;
    margin-left: calc(-4.6em);

    border-radius: 50%;
    background-color: var(--accent-color);
    transition: transform 0.3s, background-color 0.5s, color 0.3s;
}

.icons {
    display: flex;
    align-items: center;
    gap: 0.8em;
    margin-left: calc(-2em + 2px);
    pointer-events: none;
}

.theme-icon {
    z-index: 2;
    background-color: transparent;
    pointer-events: none;
    fill: #FFBB33;
    font-size: 1.5em;
    transition: opacity 0.3s;
}


@media screen and (min-width: 768px) {
    .toggle:checked+label::after {
        transform: translateX(100%);
    }
}

.toggle:checked~.icons>.sun {
    opacity: 0;
}

.toggle:not(:checked)~.icons>.moon {
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .theme {}

    .toggle+label::before {
        height: 3em;
        aspect-ratio: 1;
    }

    .toggle+label::after {
        width: 2.6em;
        margin-left: calc(-2.85em);
    }

    .icons {
        margin-left: calc(-2.1em);
    }

    .moon {
        margin-left: calc(-1.5em);
    }

    .theme-icon {
        font-size: 1.6em;
    }
}