body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;

    padding: 0px;
    margin: 0px;
    background-color: #666;
}
img{
    max-width: 100%;
}
div.sourceCode{
    padding: 4px;
    overflow-x: scroll;
    background-color: #212121;
    color: #eee;
}
.md{
    background-color: #f6f6f4;
    display: flex;
    flex-direction: column;
    width: 96%;
    max-width: 960px;

    margin: 2% 0px;
    padding: 1%;

    overflow-x: scroll;
}

pre{
    text-wrap:pretty;
}

td{
    background-color: #e0e0e0;
}

table{
    background-color: #e6e6e6;
}

a{
    color: #0077cc;
    text-decoration: none;
}

h1{
    font-size: x-large;
}
h2{
    font-size: larger;
}
h3{
    font-size: large;
}