.post-container {
    width: 90vw;
    margin: 5vw;
}

.post header {
    padding: 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    border: 1px solid var(--border-color);
    background-color: var(--fg-color);
    border-radius: 1em 1em 0 0;
}

.post header h1 {
    margin-left: 4px;
}

.post header>section {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}

.post header>section:last-child {
    align-items: flex-end;
}

.post-content {
    border: 1px solid var(--border-color);
    padding: 2em;
    background-color: var(--fg-color);
    margin-top: -1px;
    border-radius: 0em 0em 1em 1em;
}

.post-content>div>*:first-child {
    padding-top: 0px;
    margin-top: 0px;
}

.post-content h1,
.post-content h2 {
    margin: 2em 0px 1em 0px;
}

.post-content h3 {
    margin: 1em 0px 0.5em 0px;
}

.post-content p {
    margin: 0.5em 0px;
}

.post-content ul {
    margin: 0.5em 0px 1em 0px;
    padding-left: 1em;
}

.post-content li::marker {
    content: '- ';
    white-space: pre-line;
}

.post-content img {
    display: block;
    object-fit: contain;
    object-position: top left;

    max-width: 100%;

    margin: 1em 0px;
    border-radius: 1em;
}

.post-content table {
    display: inline;
    margin: 1em;
}

.post-content td {
    padding: 0.5em;
    border: 1px solid var(--border-color);
    background-color: var(--fg-color);
}

.post-content mark {
    background-color: var(--minor-color);
    border-radius: 0.2em;
}

.post-content pre {
    margin: 2em 0px;
}

.post-content code {
    border-radius: 0.5em;
}

.hljs-params {
    color: inherit;
}