.profile {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: calc(2em + 2vh) 0;
    width: 100%;

    color: var(--content-color);
}

.profile-name {
    letter-spacing: 0.05em;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.4em;
}

.profile-tags {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1.8em;
    font-size: 1.1em;
}

.marquee-container {
    z-index: -1;
    position: absolute;
    top: calc(11em + 5vw);
    left: 0;
    width: 100vw;
}

.in-marquee {
    font-size: 1em;
    font-weight: 700;
    color: var(--accent-color);
    letter-spacing: 0.1em;

    transition: color 0.3s;
}

.profile-img-wrapper:hover~.marquee-container .in-marquee {
    color: var(--action-color);
}