#header {
    position: fixed;
    z-index: 2;
    top: 0;

    height: 3.4em;
    width: 100%;
    padding: 0 2em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    background-color: var(--fg-color);
    box-shadow: 0 0 3px var(--border-color);

    overflow: hidden;
    transition: background-color 0.2s, transform 0.2s;
}

@media screen and (max-width: 768px) {
    #header {
        height: 3.8em;
    }

}

#header>section {
    display: flex;
    align-items: center;
    gap: 1em;
    order: 2;
}

#header.hide {
    transform: translateY(-100%);
}

#header.top {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.logo {
    font-family: "Playwrite HR", cursive;
    font-size: 1.2em;
    padding: 0.6em;
}