.search-bar {
    order: 1;

    width: 30vw;
    height: 2.6em;
    padding: 0 0.5em;

    display: flex;
    align-items: center;
    gap: 0.5em;

    background-color: var(--fg-color);
    border: 1px solid var(--border-color);
    border-radius: 2em;

    transition: height 0.3s, flex-grow 0.3s;
}

@media screen and (min-width: 768px) {
    .search-bar:hover {
        height: 3em;
        flex-grow: 0.03;
    }

}


.search-bar:focus-within {
    height: 3em;
    flex-grow: 0.2;
    border: 2px solid var(--border-color);
}

.search-bar>form {
    width: 100%;
}

.search-bar input {
    width: 96%;

    font-size: medium;
    color: var(--content-color);

    border: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.search-icon {
    margin-left: 0.23em;
    stroke: var(--icon-color);
    font-size: 1.2em;
}



@media screen and (max-width: 768px) {
    .search-bar {
        height: 3em;
        flex-grow: 1;
    }

    .search-bar:focus-within~a,
    .search-bar:focus-within~div {
        display: none;
        flex-grow: 1;
    }

    .search-bar:focus-within {
        flex-grow: 1;
    }

    .search-icon {
        width: 2em;
    }
}