#container {
    width: 100vw;
    min-height: 100vh;
    padding-top: 5em;

    overflow: hidden;
    background-color: var(--bg-color);
    transition: background-color 0.8s;
}

#body-container {
    width: 90vw;
    margin: 0 5vw;
    min-height: 60vh;
    margin-bottom: 10vh;
}

@media screen and (max-width: 768px) {
    #body-container {
        width: 100vw;
        margin: 0;
        margin-bottom: 4em;
    }

}