.post {
    color: var(--content-color);
    max-width: 70vw;
    margin: 2em auto 0 auto;
}

.post header {
    padding: calc(0.8em + 1.2vw) calc(1em + 1.4vw);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--border-color);
    background-color: var(--fg-color);
    border-radius: var(--radius) var(--radius) 0 0;
}

.post header h1 {
    margin-left: 4px;
    font-size: xx-large;
}

.post-category {
    width: fit-content;
}

.post-title {
    max-width: 70%;

    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}

.post-meta {
    height: 100%;
    padding-bottom: 0.5em;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 0.6em;
}

.post-meta small {
    text-align: end;
}

.post header>section:last-child {
    align-items: flex-end;
}

.post-content {
    padding: calc(1em + 1vw);
    margin-top: -2px;

    text-wrap: pretty;

    border: 1px solid var(--border-color);
    background-color: var(--fg-color);
    border-radius: 0em 0em var(--radius) var(--radius);
}