.home-category {
    width: 100%;

    margin: 0px;
    margin-top: calc(2em + 2%);
    margin-bottom: 1.8em;


    transition: flex-grow 0.2s;
}

.home-category>header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0.4em 1em;
    padding-bottom: 0.2em;
}

.home-category>header>.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: calc(0.5em + 1vw);

    padding: 0.4em 0px;

    border-radius: var(--radius-pill);
    ;
    transition: padding 0.2s;
}

.home-category>header>.link:hover {
    padding: 0.4em 0.8em;
    border: 1px solid var(--light-only-border-color);
}

.home-category>header h1 {
    font-size: x-large;
    color: var(--accent-color);
}

.posts {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    overflow-y: visible;
}


.scroll-buttons {
    display: flex;
    gap: 1em;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em 2em;
    background-color: var(--fg-color);
    border-radius: var(--radius);
}

.more>p {
    text-align: center;
    width: 4em;
}