@import '../TagList/TagList.css';

.tag-item>.intersection-observer-children-wrapper {
  transform: scale(0.0);
  transition: transform 0.3s ease;
}

.tag-visible>.intersection-observer-children-wrapper {
  transform: scale(1);
}