.tag-list {
  display: flex;
  flex-flow: row wrap;
  padding: 1em 0.4em;
  align-items: center;
}

.tag-item>.intersection-observer-children-wrapper {
  transform: scale(0.0);
  transition: transform 0.3s ease;
}

.tag-visible>.intersection-observer-children-wrapper {
  transform: scale(1);
}