.icon-link {
    order: 0;
    padding: 0.2em;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border-color);
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.icon-link img {
    object-fit: cover;
    border-radius: 50%;
}