footer {
    bottom: 0px;

    width: 100%;
    height: 10em;
    padding: 1em 0px;

    display: flex;
    justify-content: space-evenly;
    align-items: end;

    font-size: smaller;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: center;
    align-items: end;
}

@media screen and (max-width: 768px) {
    .links {
        align-items: center;
        justify-content: space-around;
    }

    .footer-normal-link {
        width: 18%;
        aspect-ratio: 1/1;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 0.2em;

        background-color: var(--fg-color);
        border-radius: 50%;

    }

    .footer-normal-link:active {
        width: 17%;
    }

    .footer-normal-link:active h4 {
        color: var(--action-color);
    }

    .footer-normal-link * {
        text-wrap: nowrap;
    }
}