.image-skeleton {
    width: 80%;
    aspect-ratio: 16/9;

    background: linear-gradient(90deg, var(--dimmed-bg-color) 25%, var(--dimmed-fg-color) 50%, var(--dimmed-bg-color) 75%);
    background-size: 200%;
    animation: load 1.5s infinite;
    border-radius: var(--radius);
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    overflow: hidden;
}

.image-wrapper {
    border-radius: var(--radius-sm);
    overflow: hidden;
}

.loaded {
    opacity: 1;
    transition: opacity 0.3s;
}

.loading {
    width: 0px;
    opacity: 0;
    transition: opacity 0.3s;
}

@keyframes load {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: -200%;
    }
}