.tag {
    padding: 0.3em 0.5em;
    margin: 0.2em 0.3em;

    cursor: pointer;

    color: var(--accent-color);
    font-size: 0.9em;
    line-height: 1.2em;

    border-radius: var(--radius-pill);
    box-shadow: 0 0 0 1.5px var(--accent-color);
    background-color: var(--fg-color);
    transition: box-shadow 0.2s, scale 0.2s;
}

.tag:hover {
    box-shadow: 0 0 0 2px var(--action-color);
    color: var(--action-color);
}

.tag-active {
    box-shadow: 0 0 0 2px var(--action-color);
    color: var(--action-color);
}