#header {
    height: 7em;
    display: flex;
    align-items: flex-end;
}

.headModules {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1em;
    background: none;
}

.marquee button {
    white-space: nowrap;

    font-size: 6em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--accent-color);

    text-align: center;
    background: none;
    border: none;

    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .headModules {
        position: fixed;
        top: 0;
        height: 4em;
        background-color: var(--bg-color);
        /* border-bottom: 1px solid var(--border-color); */
        box-shadow: 0 0 3px var(--border-color);
    }

    .marquee {
        top: 5em;
    }
}

.marquee:hover button {
    color: var(--action-color);
}