#header {
    position: fixed;
    z-index: 2;
    top: 0;

    height: 4em;
    width: 100%;
    padding: 0 2em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    background-color: var(--fg-color);
    box-shadow: 0 0 3px var(--border-color);

    overflow: hidden;
}

#header>section {
    display: flex;
    align-items: center;
    gap: 1em;
    order: 2;
}