#header {
    height: 7em;
    display: flex;
    align-items: flex-end;
}

.headModules {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1em;
    background: none;
}

.marquee button {
    white-space: nowrap;

    font-size: 6em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--accent-color);

    text-align: center;
    background: none;
    border: none;

    cursor: pointer;
}

.marquee:hover button {
    color: var(--action-color);
}