.search-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-result>header {
    z-index: 1;
    min-width: 32em;
    width: calc(100% - 1.2em);
    margin: 0.5em 0.6em 2em 0.6em;
    padding: 0.8em;
    padding-left: 1em;

    display: flex;
    flex-direction: column;
    gap: 0.8em;

    /* background-color: var(--border-color); */
    border: 1px solid var(--border-color);
    border-radius: var(--radius-lg);
}

.search-result>header>div {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;

}

.search-result-text {
    font-size: 1em;
}

.search-info {
    padding: 0 0.4em;
}

.search-info {
    display: flex;
    align-items: end;
    padding: 0.2em 0;
}


.search-result>header .tag-list {
    margin: 0;
}

.search-result ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.search-result .home-category {
    margin: 1em 0px;
}

.search-result .post-list-item {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
}

.search-result .post-list-item .preview {
    aspect-ratio: 16/9;
    max-height: max-content;
}

.btn-search-result-sort {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5em;
}