.search-result {
    width: 88vw;
    margin: 4vw 6vw;

    display: flex;
    flex-direction: column;
}

.search-result>header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5em;

    width: fit-content;

    margin: 0.5em 0 2em 0;
    padding: 0.5em 1.5em;

    background-color: var(--dimmed-fg-color);
    /* border: 1px solid var(--border-color); */
    border-radius: 2em;
}

.search-options {
    padding: 0.8em;
}


.search-result ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}