.search-result {
    display: flex;
    flex-direction: column;
}

.search-result>header {
    z-index: 1;
    margin: 0.5em 0 2em 0;
    padding: 0.3em;
    padding-left: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5em;

    width: fit-content;


    background-color: var(--fg-color);
    border: 1px solid var(--border-color);
    border-radius: 2em;
}

.search-result ul {
    display: flex;
    flex-flow: row wrap;
}

.search-result .home-category {
    margin: 1em 0px;
}

.search-result .listed-post .preview {
    height: 16em;
}