.listed-post {
    height: fit-content;
    max-width: 100%;
    margin: 0.5em;
    padding: 0.5em;

    border: 1px solid var(--border-color);
    border-radius: 1em;
    background-color: var(--fg-color);

    transition: padding 0.2s;
}

.listed-post:first-child {
    margin-left: 0;
}

.listed-post:hover {
    padding: 0.7em;
}

.listed-post>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 0.3em;
    transition: padding 0.2s;
}

.listed-post>header>h3 {
    max-width: 45vw;
    width: fit-content;

    color: var(--content-color);
    text-wrap: nowrap;

    overflow: hidden;
}