.loading {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    gap: 1em;
}

.spinner {
    border: 1.8em solid;
    border-color: var(--bg-color) var(--bg-color) var(--accent-color) var(--accent-color);
    border-radius: 50%;
    position: relative;
    animation: spin 1s linear infinite
}

.spinner:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -125%);
    left: 50%;
    width: 0.6em;
    aspect-ratio: 1/1;
    background: var(--accent-color);
    border-radius: 50%;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}