.search-bar {
    width: 30vw;
    height: 2.6em;
    padding: 0 0.5em 0 1em;

    display: flex;
    flex: 1.8;
    align-items: center;

    background-color: var(--fg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-pill);

    pointer-events: auto;

    transition: height 0.3s, scale 0.3s, flex 0.3s, width 0.3s;
}


.search-bar:focus-within {
    flex: 2.4;
    border: 2px solid var(--border-color);
}

.search-bar>form {
    width: 100%;
}

.search-bar input {
    width: 96%;

    font-size: medium;

    border: none;
    background-color: transparent;
}

.search-form {
    display: flex;
    flex: 1;
    align-items: center;
}

.btn-submit {
    display: flex;

    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
}

@media screen and (max-width: 768px) {
    .search-bar {
        order: 3;

        height: 3em;
        min-width: 3em;
        width: 3em;
        max-width: 3em;
        padding: 0;
        border-radius: 50%;

        justify-content: center;
        align-items: center;
    }

    #header:has(.search-bar:focus-within)>*:not(.search-bar) {
        display: none;
    }

    .search-bar>form {
        max-width: 0px;
    }

    .search-bar:focus-within {
        flex-grow: 1;
        max-width: none;
        padding: 0 0.5em 0 1em;
        border-radius: var(--radius-pill);
        border: 1px solid var(--border-color);
    }

    .search-bar:focus-within>form {
        max-width: 100%;
    }

}