.search-bar {
    width: 30vw;
    height: 2.6em;
    padding: 0 0.5em 0 1em;

    display: flex;
    flex: 1;
    align-items: center;

    background-color: var(--fg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-pill);

    transition: height 0.3s, scale 0.3s, flex 0.3s, width 0.3s;
}


.search-bar:focus-within {
    /* height: 3em; */
    flex: 1.3;
    border: 2px solid var(--border-color);
}

.search-bar>form {
    width: 100%;
}

.search-bar input {
    width: 96%;

    font-size: medium;

    border: none;
    background-color: transparent;
}

.search-form {
    display: flex;
    flex: 1;
    align-items: center;
}

input:focus {
    outline: none;
}



@media screen and (max-width: 768px) {
    .search-bar {
        height: 3em;
        max-width: 6em;
    }

    #header:has(.search-bar:focus-within)>*:not(.search-bar) {
        max-width: 0px;
        overflow: hidden;
    }

    .search-bar:focus-within {
        flex-grow: 1;
        max-width: none;
    }

    .search-icon {
        width: 2em;
    }
}