.listed-post {
    display: flex;
    flex-flow: column nowrap;
    width: 20em;
    height: fit-content;
    margin: 0.6em;
    padding: 0.6em;
    border-radius: var(--radius);

    border: 1px solid var(--border-color);
    background-color: var(--fg-color);
}

.listed-post>header {
    min-width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 0.3em;
    transition: padding 0.2s;
}

.listed-post>header>h3 {
    color: var(--content-color);
    text-wrap: nowrap;

    overflow: hidden;
}

.listed-post>header>h3>small {
    margin-left: 0.5em;
}

.preview {

    padding: 0.5em;
    max-height: 10em;
    overflow: hidden;
}

.preview>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preview>div>img {
    align-self: center;
}

.preview * {
    font-size: 0.9em;
    font-weight: 400;
    color: var(--content-color);
}

.listed-post:hover .preview * {
    color: var(--content-color);
}