.post-list-item {
    display: flex;
    flex-flow: column nowrap;
    min-width: 20em;
    max-width: 46em;
    width: 20em;
    height: fit-content;

    margin: 0.6em;
    padding: 0.6em;
    border-radius: var(--radius);

    border: 1px solid var(--border-color);
    background-color: var(--fg-color);
}


.post-list-item>header {
    min-width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 0.3em;
    transition: padding 0.2s;
}

.post-list-item>header>h3 {
    color: var(--content-color);
    text-wrap: nowrap;

    overflow: hidden;
}

.post-list-item>header>h3>small {
    margin-left: 0.5em;
}

.preview {
    width: 100%;
    padding: 0.5em;
    max-height: 10em;
    overflow: hidden;
}

.preview>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preview .image-wrapper {
    max-width: 100% !important;
    max-height: 7em !important;
}

.preview .loaded {
    width: fit-content;
    max-height: 7em !important;
    object-fit: contain !important;
    height: 100% !important;
}

.preview .no-image-container {
    display: none;
}

.preview * {
    font-size: 0.9rem;
    color: var(--content-color);
}