.project {
    min-width: 24em;
    width: 24em;
}

.project-image-wrapper {
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    overflow: hidden;

    background-color: var(--dimmed-bg-color);
}

.project-image-wrapper .image-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.project-image-wrapper .image-container .image-skeleton {
    width: 100%;
}

.project-image-wrapper img {
    max-width: 100%;
    max-height: 18em;
    object-fit: contain;
}

.no-image {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fg-color);
}

.project-title {
    margin: 0.25em 0px 0px 0px;
}

.project-info-footer {
    margin: 1em 0 0.5em 0;

    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.project-meta {
    display: flex;
    gap: 1em;
}

.project-info-footer small,
.project-info-footer span {
    line-height: 1;
}