.project {
    min-width: 24em;
    width: 24em;
}

.project-date {
    text-wrap: nowrap;
}

.project-image-wrapper {
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    overflow: hidden;

    background-color: var(--dimmed-bg-color);
}

.project-image-wrapper>img {
    max-width: 100%;
    max-height: 18em;
    object-fit: contain;
}

.no-image {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fg-color);
}

.project-title {
    margin: 0.6em 0px 0px 0px;
}