* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    scrollbar-width: none;
}

*::selection {
    color: var(--action-color);
    background-color: var(--bg-color);
}

:root {
    --ko-unicode: U+AC00-D7A3;
    --en-unicode: U+0041-005A, U+0061-007A;

    --radius: 0.5em;
    --radius-sm: 0.2em;
    --radius-pill: 1em;
    --radius-circle: 50%;

    --light-fg-color: #fcfcfc;
    --light-dimmed-fg-color: #f0f0f0;
    --light-transparent-fg-color: #fcfcfcaf;
    --light-bg-color: #fafafa;
    --light-dimmed-bg-color: #eaeaea;
    --light-hover-bg-color: #fcfcfc;
    --light-accent-color: #36f;
    --light-dimmed-accent-color: #13f2;
    --light-action-color: #ff50aa;
    --light-content-color: #242424;
    --light-dimmed-content-color: #505050;
    --light-accent-content-color: #00a57b;
    --light-intense-content-color: #000;
    --light-minor-color: #888;
    --light-icon-color: #444;
    --light-dimmed-icon-color: #4442;
    --light-border-color: #ccc;
    --light-light-only-border-color: #ff50aa;

    --dark-fg-color: #1a1a1b;
    --dark-dimmed-fg-color: #282828;
    --dark-transparent-fg-color: #1a1a1baf;
    --dark-bg-color: #111112;
    --dark-dimmed-bg-color: #141414;
    --dark-hover-bg-color: #101010;
    --dark-accent-color: #64f;
    --dark-dimmed-accent-color: #64f2;
    --dark-action-color: #adf;
    --dark-minor-color: #888;
    --dark-content-color: #fff;
    --dark-dimmed-content-color: #c0c0c0;
    --dark-intense-content-color: #fff;
    --dark-accent-content-color: #e6d874;
    --dark-icon-color: #ddd;
    --dark-dimmed-icon-color: #ddd2;
    --dark-border-color: #323232;
}

[data-theme="light"] {
    --fg-color: var(--light-fg-color);
    --dimmed-fg-color: var(--light-dimmed-fg-color);
    --transparent-fg-color: var(--light-transparent-fg-color);
    --bg-color: var(--light-bg-color);
    --dimmed-bg-color: var(--light-dimmed-bg-color);
    --hover-bg-color: var(--light-hover-bg-color);
    --dimmed-accent-color: var(--light-dimmed-accent-color);
    --accent-content-color: var(--light-accent-content-color);
    --accent-color: var(--light-accent-color);
    --action-color: var(--light-action-color);
    --content-color: var(--light-content-color);
    --dimmed-content-color: var(--light-dimmed-content-color);
    --intense-content-color: var(--light-intense-content-color);
    --minor-color: var(--light-minor-color);
    --icon-color: var(--light-icon-color);
    --dimmed-icon-color: var(--light-dimmed-icon-color);
    --border-color: var(--light-border-color);
    --light-only-border-color: var(--light-light-only-border-color);
}

[data-theme="dark"] {
    --fg-color: var(--dark-fg-color);
    --dimmed-fg-color: var(--dark-dimmed-fg-color);
    --transparent-fg-color: var(--dark-transparent-fg-color);
    --bg-color: var(--dark-bg-color);
    --dimmed-bg-color: var(--dark-dimmed-bg-color);
    --hover-bg-color: var(--dark-hover-bg-color);
    --action-color: var(--dark-action-color);
    --accent-color: var(--dark-accent-color);
    --dimmed-accent-color: var(--dark-dimmed-accent-color);
    --accent-content-color: var(--dark-accent-content-color);
    --content-color: var(--dark-content-color);
    --dimmed-content-color: var(--dark-dimmed-content-color);
    --intense-content-color: var(--dark-intense-content-color);
    --minor-color: var(--dark-minor-color);
    --icon-color: var(--dark-icon-color);
    --dimmed-icon-color: var(--dark-dimmed-icon-color);
    --border-color: var(--dark-border-color);
    --light-only-border-color: none;
}

li {
    list-style-type: none;
}


a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--action-color);
}

small {
    color: var(--minor-color);
}

.link {
    color: var(--accent-color);
    cursor: pointer;
}

.link:hover header {
    color: var(--action-color);
}


.minor {
    color: var(--minor-color);
}

.icon {
    color: var(--icon-color);
}

.content {
    color: var(--content-color);
}

.dimmed.content {
    color: var(--dimmed-content-color);
}

.action {
    color: var(--action-color);
}

.accent {
    color: var(--accent-color);
}

button {
    padding: 0.5em;

    display: flex;
    font-size: 1.3em;

    border-radius: var(--radius-pill);
    border: none;
    background-color: transparent;

    cursor: pointer;
}

button:hover * {
    color: var(--icon-color);
    stroke: var(--icon-color);
}

button:hover {
    background-color: var(--dimmed-icon-color);
}

button.accent * {
    color: var(--accent-color);
    fill: var(--accent-color);
    stroke: var(--accent-color);
}

button.accent:hover {
    background-color: var(--dimmed-accent-color);
}

.clickable {
    cursor: pointer;
    transition: scale 0.2s;
}

.clickable:hover {
    scale: 1.03;
}

.clickable:active {
    scale: 1.03;
}


.clickable.small {
    cursor: pointer;
    transition: scale 0.2s;
}

.clickable.small:hover {
    scale: 1.08;
}

.clickable.small:active {
    scale: 1.06;
}

.clickable:active:has(.clickable:hover) {
    scale: 1.04;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.seperator {
    height: 0.5em;
    margin-bottom: 0.5em;
    width: 4em;
    border-bottom: var(--minor-color) 1px solid;
}

button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

input {
    color: inherit;
}

input:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .mobile {
        display: block;
    }

    .pc {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .mobile {
        display: none !important;
    }

    .pc {
        display: block;
    }
}