.post-list-item {
    display: flex;
    flex-flow: column nowrap;

    min-width: 20em;
    max-width: 46em;
    width: 20em;
    height: fit-content;

    margin: 0.6em;
    padding: 0.5em;

    border-radius: var(--radius);

    border: 1px solid var(--border-color);
    background-color: var(--fg-color);
}

.post-list-item>section {
    padding: 0.3em;
}


.post-list-item>header {
    min-width: 16rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1em;
    padding: 0.3em;
    transition: padding 0.2s;
}

.post-list-item>header>h3 {
    display: flex;
    align-items: flex-end;

    text-wrap: nowrap;
    overflow: hidden;
}

.post-list-item>header>h3>small {
    margin-left: 0.5em;
}

.post-list-item .tag-list {
    margin-top: 0;
}

.preview {
    width: 100%;
    max-height: 12em;
    overflow: hidden;
}

.preview>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preview .image-container {
    margin: 0;
}

.preview .image-wrapper {
    max-width: 100% !important;
    max-height: 7em !important;
}

.preview .loaded {
    width: fit-content;
    max-height: 7em !important;
    object-fit: contain !important;
    height: 100% !important;
}

.preview .no-image-container {
    display: none;
}

.preview * {
    font-size: 0.9rem;
    color: var(--content-color);
}