.profile {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: calc(2em + 2vh) 0;
    width: 100%;

    color: var(--content-color);
}

.profile-name {
    margin: 0.1em 0 1.8em 0;
    letter-spacing: 0.2em;
    text-align: center;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.4em;
}

.profile-tags {
    max-height: 25vh;
    overflow-y: scroll;
    background: radial-gradient(var(--dimmed-border-color) 0%,
            rgba(0, 0, 0, 0) 72%)
}

.profile-tags ol {
    justify-content: center;
    font-size: 1.1em;
}

.profile-portfolio-btn {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 0.7em;
}

.profile-portfolio-btn:hover {
    color: var(--action-color);
}