.home-category {
    flex-grow: 1;

    min-width: 15em;

    margin: 0px;
    margin-top: calc(2em + 2%);
    padding-right: 2em;

    transition: flex-grow 0.2s;
}

@media screen and (max-width: 768px) {
    .home-category {
        padding-right: 0em;
    }
}

.home-category:hover {
    flex-grow: 1.25;
}

.row {
    width: 100%;
    margin-bottom: 1.4em;
}

.home-category-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.8em;
    padding: 0.4em 0.1em 0.3em 0.1em;

    border-bottom: 1.5px solid var(--accent-color);
    cursor: pointer;

    transition: padding 0.2s, border-radius 0.2s;
}

.home-category-name:hover {
    padding: 0.6em 1.2em 0.4em 1.2em;
    border-radius: 1.5em 1.5em 0px 0px;
    border-bottom: 1.5px solid var(--action-color);
}

.home-category-name>h1 {
    font-size: xx-large;
    color: var(--accent-color);
}

.arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    aspect-ratio: 1/1;
}

.arrow-wrapper path {
    color: var(--accent-color);
}

.posts {
    display: flex;
    flex-flow: column wrap;
}

.posts-wrapper {
    overflow: scroll;
}

.row .posts {
    flex-direction: row;
    align-items: start;
}

.no-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}