.home-category {
    width: 100%;

    margin: 0px;
    margin-top: calc(2em + 2%);
    margin-bottom: 1.4em;

    transition: flex-grow 0.2s;
}

.home-category>header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4em;
    padding-bottom: 0.2em;

    border-bottom: 1.5px solid var(--accent-color);
}

.home-category>header>.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;

    padding: 0.4em 0px;

    border-radius: 2em;
    transition: padding 0.2s;
}

.home-category>header>.link:hover {
    padding: 0.4em 0.8em;
}

.home-category>header h1 {
    font-size: xx-large;
    color: var(--accent-color);
}

.arrow-wrapper path {
    color: var(--accent-color);
}

.posts {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
}

.no-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.scroll-buttons {
    display: flex;
    gap: 1em;
}

:disabled {
    pointer-events: none;
    opacity: 0.5;
}